extends layout
block head-content
    meta(name='viewport', content='width=device-width,\
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(rel="stylesheet", href="./../stylesheets/bootstrap.css")
    link(rel='stylesheet', href='./../stylesheets/style.css')
    link(rel='stylesheet', href='./../stylesheets/style_cart.css')
    script(src='./../javascripts/js_cart.js')
    script(src='./../javascripts/client.js')
block content
    #box.container
      .row.clearfix
        .col-md-12.column
          #demo.carousel.slide(data-ride='carousel')
            // 指示符
            ul.carousel-indicators
              li.active(data-target='#demo', data-slide-to='0')
              li(data-target='#demo', data-slide-to='1')
              li(data-target='#demo', data-slide-to='2')
            // 轮播图片
            .carousel-inner
              .carousel-item.active
                img(src='./../images/01.png')
                .carousel-caption
                  h3 风土乡情
                  p Cras justo odio.
              .carousel-item
                img(src='./../images/02.png')
                .carousel-caption
                  h3 异域美食
                  p Cras justo odio.
              .carousel-item
                img(src='./../images/03.png')
                .carousel-caption
                  h3 风味小吃
                  p Cras justo odio.
            // 左右切换按钮
            a.carousel-control-prev(href='#demo', data-slide='prev')
              span.carousel-control-prev-icon
            a.carousel-control-next(href='#demo', data-slide='next')
              span.carousel-control-next-icon
          .alert.alert-info(role='alert')
            strong Welcome !
            |  皮皮怪餐馆欢迎您的光临！！
          .row.clearfix
            .col-md-3.column
              // Nav tabs
              ul.nav.nav-pills.nav-stacked(role='tablist').card
                li.nav-item
                  a.nav-link.active(href='#snack', role='tab', data-toggle='tab') 经典小吃

                li.nav-item
                  a.nav-link(href='#drink', role='tab', data-toggle='tab') 饮料

                li.nav-item
                  a.nav-link(href='#rice', role='tab', data-toggle='tab') 主食
                  
                li.nav-item
                  a.nav-link(href='#noodle', role='tab', data-toggle='tab') 面食
            .col-md-9.column.card
              // Tab panes
              .tab-content
                
                #snack.tab-pane.active(role='tabpanel')
                  p 风味小吃是各个地域的特色小吃，以其独特的口味令人赞不绝口。
                  
                #drink.tab-pane(role='tabpanel')
                  p 饮料是为很多人知道的一种不健康饮品，一般只有在沙漠里面才会尝试到，在这里也可以尝试，只需一分钟新鲜感受。
                  
                #rice.tab-pane(role='tabpanel')
                  p 米饭颗粒饱满，能满足大部分的能量需求，怕吃不饱的就点我。
                  
                #noodle.tab-pane(role='tabpanel')
                  p 面食是北方人多爱吃的一种食物，丰富多样色彩鲜艳，口味丰富，是爽口的不二选择。
      //- 购物车            
      .cd-cart-container.empty
        a.cd-cart-trigger(href='#0')
          //- img(src='/images/cart.png')
          | 购物车
          ul.count
            // cart items count
            li 0
            li 0
          // .count
        .cd-cart
          .wrapper
            header
              h2 购物车
              span.undo
                | 已删除 
                a(href='#0') 恢复
            .body
              ul
                // products added to the cart will be inserted here using JavaScript
            footer
              #code-username #{username}
              #code-id #{id}
              a#handin.btn.checkout
                em
                  | 结算 - ￥
                  span 0
      //- 菜品生成模块，自动添加至tab内容中
      ul.list-group#code-data
          each item, i in menu
            li.list-group-item
              .row.menu-item.border-left-0.border-right-0.border-bottom-0
                .code-class #{item.class}
                .code-cost #{item.cost}
                .col-md-6
                  .boy
                    img.img-responsive(src='#{item.imgSrc}').card-img-top
                .col-md-6
                  .shop-list-mid
                    .tit
                      | #{item.name}
                    .am-gallery-desc ￥  #{item.price}
                    ul.count
                      li.decreaseNum
                          a.dec-button(href='#0', class='num=jian', data-cost='#{item.cost}', data-price='#{item.price}', data-proid='#{i}', data-proname='#{item.name}',data-proimg='#{item.imgSrc}')
                            img(src="/images/reduce.png").board
                      li
                        label.label-num(type='number') 0
                      li.addNum
                          a.add-button(href='#0', class='num=jia', data-cost='#{item.cost}' data-price='#{item.price}', data-proid='#{i}', data-proname='#{item.name}',data-proimg='#{item.imgSrc}')
                            img(src="/images/plus-g.png").board

                    //- <a href="#0" class="num=jia add-button" data-price="52" data-proid="2" data-proname="黄金馒头" data-proimg="images/m1.png">+</a>
        // .cd-cart
        
