extends user
append head-content
  script(src='/javascripts/info-accounts.js')
block info-page
  .card
    .card-block
      .account-card-header
        h4(name='accounts') 账目信息
      .account-card-body
        .IO-overview.card.border-bottom-0.flex-row
          h4(name='totalIncome').card-title 总收入：
            span 
          h4(name='totalCost').card-title 总支出：
            span 
          h4(name='totalNetIncome').card-title 净收入：
            span 
        .IO-details.card
          #accordion-accounts
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion-accounts')
                    span 收支详情
                    img(src='/images/down.png').icon
              .panel-collapse.collapse.in.border.border-left-0.border-right-0.border-bottom-0
                table(name='accounts-in').table.table-hover
                  thead
                    tr
                      th #
                      th 订单号
                      th 成本
                      th 收入
                      th 净收入
                  tbody
                    each item, i in accountsIn
                      tr.alert
                        th(scope='row') #{i}
                        td(name='name')
                          span #{item.name}
                          input(type='text')
                        td(name='cost')
                          span #{item.cost}
                          input(type='number')
                        td(name='income')
                          span #{item.income}
                        td(name='netIncome')
                          span #{item.netIncome}
        
                 
