extends user
append head-content
  script(src='/javascripts/info-ingredients.js')
block info-page
  .card
    .card-block
      h4(name='ingredients') 食材信息
      input(type='submit', value='保存', name='ingredients').btn.btn-secondary
      table.table.table-hover
        thead
          tr
            th #
            th 名称
            th 市价
            th 购入价
            th 库存
            th 操作
        tbody
          each ingredient, i in ingredients
            tr.alert
              th(scope='row') #{i}
              td(name='name')
                span #{ingredient.name}
                input(type='text')
              td(name='price')
                span #{ingredient.price}
                input(type='text')
              td(name='cost')
                span #{ingredient.cost}
                input(type='text')
              td(name='stock')
                span #{ingredient.stock}
                input(type='text')
              td.btn-td
                .btn-circle.btn-circle-td
                  .btn-line
                  a(href='#').deleteRow
                    .btn-square
                    img(src='/images/cross.png')
      .btn-circle
        .btn-line
        a(href='#')#addRow
          .btn-square
          img(src='/images/plus.png')
