extends user
append head-content
  script(src='/javascripts/info-employee.js')
  script(src='/javascripts/checkForm.js')
block info-page
  .card
    .card-header
      h4(name='employee').card-title 员工信息
      input(type='submit', value='保存', name='employee').btn.btn-secondary
    .card-block
      div(role='tablist', aria-multiselecttable='true')#accordion-employee
        each item in employee
          .panel.panel-default.card
            .panel-heading
              h4.panel-title
                a(data-toggle='collapse', data-parent='#accordion-employee')
                  img(src='#{item.imgSrc}').avatar
                  span #{item.name}
                  img(src='/images/down.png').icon
            .panel-collapse.collapse.in.border.border-left-0.border-right-0.border-bottom-0
              //.info-item
                .info-item-p.col-4
                  p ID：
                div(name='id').info-item-val.col-8
                  span.alert #{item.id}
                  input(type='text')
              .info-item
                .info-item-p.col-4
                  p 账号：
                div(name='username').info-item-val.col-8
                  span.alert #{item.username}
                  input(type='text')
              .info-item
                .info-item-p.col-4
                  p 职位：
                div(name='post').info-item-val.col-8
                  span.alert #{item.post}
                  input(type='text')
              .info-item
                .info-item-p.col-4
                  p 姓名：
                div(name='name').info-item-val.col-8
                  span.alert #{item.name}
                  input(type='text')
              .info-item
                .info-item-p.col-4
                  p 年龄：
                div(name='age').info-item-val.col-8
                  span.alert #{item.age}
                  input(type='number')
              .info-item
                .info-item-p.col-4
                  p 联系电话：
                div(name='phone').info-item-val.col-8
                  span.alert #{item.phone}
                  input(type='text')
              .btn-circle.btn-circle-td
                    .btn-line
                    a(href='#').deleteCard
                      .btn-square
                      img(src='/images/cross.png')
    .card-footer
      .btn-circle
        .btn-line
        a(href='#', data-toggle='modal', data-target='#newEmployee')#addCard
          .btn-square
          img(src='/images/plus.png')
  .modal.fade#newEmployee
    .modal-dialog
      form(name='newEmployee').modal-content
        .modal-header.form-header
          button(type='button', data-dismiss='modal').close &times;
        .modal-body.form-body
          .form-group.row
            label(for='username').col-sm-3.form-control-label 用户名
            input(type='text', placeholder='6~18位英文字母、数字或下划线，字母开头', name='username').form-control#eUsername.col-sm-7
            img
          .form-group.row
            label(for='password').col-sm-3.form-control-label 密码
            input(type='password', placeholder='6~12位数字、大小写字母、中划线、下划线', name='password').form-control#ePassword.col-sm-7
            img
          .form-group.row
            label(for='repassword').col-sm-3.form-control-label 重复密码
            input(type='password', placeholder='再次输入密码', name='repassword').form-control#repassword.col-sm-7
            img
          .form-group.row
            label(for='name').col-sm-3.form-control-label 姓名
            input(type='text', placeholder='皮蛋', name='name').form-control#name.col-sm-7
            img
          .form-group.row
            label(for='age').col-sm-3.form-control-label 年龄
            input(type='number', placeholder='18', name='age').form-control#age.col-sm-7
            img
          .form-group.row
            label(for='phone').col-sm-3.form-control-label 电话
            input(type='text', placeholder='11位数字，不能以0开头', name='phone').form-control#phone.col-sm-7
            img
          .form-group.row
            label(for='post').col-sm-3.form-control-label 职位
            input(type='text', placeholder='厨师', name='post').form-control#post.col-sm-7
            img
        .modal-footer.form-footer
          .form-group.row.mx-auto
            //小bug：点击后按钮变大
            input(type='submit', value='提交', name='newEmployee').btn.btn-secondary.col-sm-12
            .form-result
    
