extends layout
  
block content
  .card
    .card-block
      h4 订单详情
      table.table
        thead
            tr
            th #
            th 名称
            th 价格
            th 数目
        tbody
          each item, i in menu_list
            tr.alert
              th(scope='row') #{i}
              td(name='name')
                span #{item.name}
                
              td(name='price')
                span #{item.price}
                
              td(name='number')
                span #{item.number}
                
              

    label
        | 总计:
        span#priceTotal.label.label-pill.label-primary #{totalprice}
    .footer
        a#pay(href='/#{username}/?id=#{stream_id}&order=finish')
          button.btn.btn-primary.btn-lg.btn-block(type='button') 支付 
