extends layout
block head-content
  link(rel='stylesheet', href='/stylesheets/businessPage.css')
  script(src='/javascripts/businessPage.js')
block content
  .head.border.container-fluid
    .logo
      img
    .head-contents
      a(href='#').btn.btn-link #{user.name}
      a(href='?op=logout').btn.btn-link 注销
  .contents.container-fluid
    .con-left.container-fluid.border.border-top-0.border-borrom-0
      .list-group
        a(href='?username=#{user.name}&info=personal', name='personal').list-group-item.border-left-0.border-right-0.border-top-0 个人信息
        a(href='?username=#{user.name}&info=ingredients', name='ingredients').list-group-item.border-left-0.border-right-0.border-top-0 食材信息
        a(href='?username=#{user.name}&info=menu', name='menu').list-group-item.border-left-0.border-right-0.border-top-0 菜品信息
        a(href='?username=#{user.name}&info=accounts', name='accounts').list-group-item.border-left-0.border-right-0.border-top-0 账目信息
        a(href='?username=#{user.name}&info=evaluation', name='evaluation').list-group-item.border-left-0.border-right-0.border-top-0 评价信息
        a(href='?username=#{user.name}&info=employee', name='employee').list-group-item.border-left-0.border-right-0.border-top-0 员工信息
    .con-right.container-fluid
      .info-pages
        block info-page
        .modal.fade#imgUpload
          .modal-dialog
            form(name='imgUpload').modal-content
              .modal-header.form-header
                button(type='button', data-dismiss='modal').close &times;
              .modal-body.form-body
                .form-group.row
                  img.previewImg.referenceImg.mx-auto
                .form-group.row
                  input(type='file', accept='image/jpeg, image/png')#uploadImg.mx-auto
              .modal-footer.form-footer
                .form-group.row.mx-auto
                  //小bug：点击后按钮变大
                  input(type='submit', value='确定', name='imgUpload').btn.btn-secondary.col-sm-12
                  .form-result
  .footer.container-fluid
    img
